# Ignore Gradle project-specific cache directory
.gradle
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Ignore Gradle build output directory
build


#secure key
/Key.properties

#Ignore for VSCode
/.vscode
/settings.gradle
/.settings
/.classpath
/settings_aar.gradle
/.project
/.idea
.metadata
.packages
